.footer {
    color: white;
    text-align: center;
    padding: 5px;
    margin: 3px auto 0 auto;
}

.container {

    max-width: 300px;
    margin-left: 200px;
}

.link {
    color: #48d9f3;
    margin: 10px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}