* {
    box-sizing: border-box;
}

body {
    background-image: url('../../public/image/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}