.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    height: 90px;
    background: #0d0d0d url("/public/image/background.png") no-repeat center center;
    background-size: cover;
}

.loginBox {
    background: rgba(0, 0, 0, 0.8);
    padding: 32px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    color: #fff;
}

.inputGroup {
    position: relative;
    margin: 16px;
}

.inputGroup input {
    width: 100%;
    padding: 8px 40px 8px 16px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    filter: saturate(100%) invert(69%) sepia(92%) saturate(323%) hue-rotate(150deg) brightness(96%) contrast(95%);
    transition: transform 0.3s ease;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 13px;
}

button {
    padding: 8px;
    background-color: #1a73e8;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: #1557bf;
}


a {
    color: #1a73e8;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
